body{
    margin: 0;
    padding: 0;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    position: relative;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 0.01em;
    margin: 0;
    padding: 0;
    font-size: 8vw;
    color: transparent;
    white-space: nowrap;
    color: #fff;
    
}
h1:before{
    content: attr(data-text);
    position: absolute; 
    margin: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-right: 1px solid #fff;
    white-space: nowrap; 
    overflow: hidden;
    background: linear-gradient(to right, #f00,#ff0, #0ff,#0f0, #ffc800);
    -webkit-background-clip: text; 
    color: transparent; 
    animation: type 6s steps(17) infinite;
    filter: blur(1px);
} 
@keyframes type{
  0%{
      width: 0;
  }
  70%{
    width: 100%;
}
90%{
    width: 100%;
}
100%{
    width: 0;
}
}
/* @media (max-width: 900px){
    h1{
        font-size: 1.7em;
        letter-spacing: 0.001em;
    }
} */