body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    position: absolute;
    text-transform: uppercase; 
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 5px;
    margin: 0;
    padding: 0;
    color: transparent;
}
h1:before{
    content: attr(data-text);
    position: absolute;
    color: #000;
    overflow: hidden;
    border-right: 1px solid #000;
    animation: type 10s steps(38) infinite;
    white-space: nowrap;
}
@keyframes type{
    0%{
        width: 0;
    }
    50%{
        width: 100%;
    }
    100%{
        width: 0;
    }
}
@media (max-width: 780px){
    h1{
        font-size: 4vw;
        
    }
}