body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    width: 1200px;
    display: flex;
    justify-content: space-between;
   
}
.container .box{
    width: 580px; 
    height: 400px;
    background: #000;
    background-position: top;
    transition: ease-in-out 8s;
}
.container .box.box1{
    background: url(download\ \(1\).jfif);
    background-size: cover;
    background-repeat: no-repeat;
}
.container .box.box2{
    background: url(download\ \(4\).jfif);
    background-size: cover;
    background-repeat: no-repeat;
}
.container .box:hover{
    background-position: bottom;
}
